.album-content{
    display: flex;
    justify-content: space-evenly;
    gap:10px;
    flex-wrap: wrap;

}
.album{
    width:150px;
    height: 160px;
    background-color: white;
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.buttons{
    text-align: center;
}

button{
    background-color: rgb(203, 203, 252);
    margin-bottom: 10px;
    width: 90px;
    border-radius: 5px;
    border: 1px solid rgb(138, 138, 245);
}

.delete-icon{
    width: 10px;
    height: 10px;
}

.details-link{
    text-decoration: none;
    color:black;
}